.tooltip {

    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    right: 100px;
}

/* Additional styling to match the tooltip style */
#youtube-icon,
#img360 img,
#beforelocator {
    cursor: pointer;
}

#youtube-icon:hover,
#img360 img:hover,
#beforelocator:hover {
    filter: brightness(1.5);
}
@media (max-width: 600px) {
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 87%;
        right: 60px;
    }
  #gsm{
    width: 20px;
    height: 20px;
    padding-left: 5px;
  }
  .ol-zoom {
    top: 70% !important;
    left: 90% !important;
}
}

